node_modules/
.env
.DS_Store
npm-debug.log
yarn-error.log

client/node_modules/
client/.expo/
client/.expo-shared/
client/dist/
client/android/
client/ios/

server/node_modules/
server/dist/

server/prisma/dev.db
server/prisma/dev.db-journal
